#sidebar div#header-wrapper {
  background: whitesmoke;
}

#site-title {
  font-size: large;
  font-weight: bolder;
}

a code {
  color: inherit;
  background: inherit;
  border: inherit;
}

div.mermaid svg {
  height: inherit;
}

div#body-inner h5 {
  margin-bottom: 1rem;
}

div#body-inner ul, ol {
  margin-top: 0;
}

div#body-inner ul li a img {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 0.25em;
}
